@model Loppuprojekti_AW.Models.Enduser

@{
    ViewData["Title"] = "Kirjaudu";
}


<h2 class="display-4">Kirjaudu sisään</h2>

<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("Index", "Login", FormMethod.Post))
        {
            <form asp-action="Login">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                    <label asp-for="Password" class="control-label">Salasana</label>
                    <input asp-for="Password" type="password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Kirjaudu" class="btn btn-outline-primary" />
                </div>
            </form>
        }
        <div>
            <a asp-area="" asp-controller="Account" asp-action="Create" class="btn btn-outline-primary">Rekisteröidy</a>
            <a asp-action="Index" class="btn btn-outline-primary">Takaisin</a>
        </div>


    </div>
    <div class="loginalert">
        @if (ViewBag.AuthOK == false)
        {
            <div class="alert alert-danger d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill" /></svg>
                <div class="error">
                    Salasana tai käyttäjätunnus väärin. Yritä uudelleen
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
