@model Loppuprojekti_AW.Models.Post

@{
    ViewData["Title"] = "Muokkaa ilmoitusta";
}
    <h2 class="display-4">Muokkaa ilmoitusta</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Postid" />
            <div class="form-group">
                <label asp-for="Postname" class="control-label">Nimi</label>
                <input asp-for="Postname" class="form-control" data-bs-toggle="tooltip" data-bs-placement="top" title="Ilmoituksen otsikko"/>
                <span asp-validation-for="Postname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="Sportid" value="@Model.Sportid" />
                <label asp-for="Sportid" class="control-label">Laji</label>
                <select asp-for="Sportid" class="form-control" disabled>
                    @foreach (var item in ViewBag.Sports)
                    {
                        <option value="@item.Sportid">@item.Sportname</option>
                    }
                </select>
                <span asp-validation-for="Sportid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Kuvaus</label>
                <input asp-for="Description" class="form-control" data-bs-toggle="tooltip" data-bs-placement="top" title="Vapaa muotoinen kuvaus"/>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Attendees" class="control-label">Osallistujien määrä</label>
                <input asp-for="Attendees" class="form-control" data-bs-toggle="tooltip" data-bs-placement="top" title="Lukumäärä"/>
                <span asp-validation-for="Attendees" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="Posttype" class="control-label"></label>
                <input asp-for="Posttype" class="form-control" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top"/>
                <span asp-validation-for="Posttype" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Place" class="control-label">Sijainti</label>
                <input asp-for="Place" class="form-control" data-bs-toggle="tooltip" data-bs-placement="top" title="osoite, kaupunginosa, kaupunki"/>
                <span asp-validation-for="Place" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="Latitude" class="control-label"></label>
                <input asp-for="Latitude" class="form-control" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top"/>
                <span asp-validation-for="Latitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Longitude" class="control-label"></label>
                <input asp-for="Longitude" class="form-control" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top"/>
                <span asp-validation-for="Longitude" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Date" class="control-label">Aika</label>
                <input asp-for="Date" class="form-control" data-bs-toggle="tooltip" data-bs-placement="top" title="Milloin alkaa?"/>
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duration" class="control-label">Kesto</label>
                <input asp-for="Duration" class="form-control" data-bs-toggle="tooltip" data-bs-placement="top" title="Kesto minuuteissa"/>
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="Privacy" class="control-label"></label>
                <input asp-for="Privacy" class="form-control" data-bs-toggle="tooltip" data-bs-placement="top" title="Julkinen vai yksityinen tapahtuma"/>
                <span asp-validation-for="Privacy" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Price" class="control-label">Hinta</label>
                <input asp-for="Price" class="form-control" data-bs-toggle="tooltip" data-bs-placement="top" title="Hinta €, erottele pilkulla"/>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Tallenna" class="btn btn-outline-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class = "btn btn-outline-primary">Takaisin</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
