<!DOCTYPE html>
<html>
<head>
    <title></title>

    <meta charset="utf-8">

    <!-- Ensures that IE and Edge uses the latest version and doesn't emulate an older version -->
    <meta http-equiv="x-ua-compatible" content="IE=Edge">

    <!-- Ensures the web page looks good on all screen sizes. -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Add references to the Azure Maps Map control JavaScript and CSS files. -->
    <link rel="stylesheet" href="https://atlas.microsoft.com/sdk/javascript/mapcontrol/2/atlas.min.css" type="text/css">
    <script src="https://atlas.microsoft.com/sdk/javascript/mapcontrol/2/atlas.min.js"></script>

    
    <script type="text/javascript">
        //Create an instance of the map control and set some options.
        function InitMap() {
            var map = new atlas.Map('myMap', {
                center: [24.931080, 60.167390],
                zoom: 12,
                language: 'fi-FI',
                authOptions: {
                    authType: 'subscriptionKey',
                    subscriptionKey: 'LcfPnS_7ODNPdLCMDoJAuHkGZl6_IfG5c9r9lRNB2bM'
                }
            });

            ////Create a data source and add it to the map.
            //var dataSource = new atlas.source.DataSource();
            //map.sources.add(dataSource);

            ////Create a symbol layer to render icons and/or text at points on the map.
            //var layer = new atlas.layer.SymbolLayer(dataSource);

            map.events.add('ready', function () {
                //Create a data source to add your data to.
                datasource = new atlas.source.DataSource();
                map.sources.add(datasource);

                //Add a point to the center of the map.
                datasource.add(new atlas.data.Point([24.931080, 60.167390]));

                //Create an icon from one of the built-in templates and use it with a symbol layer.
                map.imageSprite.createFromTemplate('myTemplatedIcon', 'marker-flat', 'teal', '#fff').then(function () {

                    //Add a symbol layer that uses the custom created icon.
                    map.layers.add(new atlas.layer.SymbolLayer(datasource, null, {
                        iconOptions: {
                            image: 'myTemplatedIcon'
                        }
                    }));
                });
            });



        }
    </script>

    <style>
        html, body {
            margin: 0;
        }

        #myMap {
            height: 60vh;
            width: 60vw;
        }
    </style>
</head>
<body onload="InitMap()">
    <div id="myMap"></div>
</body>
</html>