@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    @*@if (ViewBag.CommonPosts != null)
    {
        <ul class="cloud" role="navigation" aria-label="Moveo lajien sanapilvi">
            @foreach (var item in ViewBag.CommonPosts)
            {
                <li>@item.Sportname</li>
            }
        </ul>
    }*@
</div>
