@{
    ViewData["Title"] = "Etusivu";
}

<div class="text-center">
    <h1 class="display-4">Tervetuloa</h1>

        @if (ViewBag.CommonPosts != null)
        {
<ul class="cloud" role="navigation" aria-label="Webdev tag cloud">
    @foreach (var post in ViewBag.CommonPosts)
            {
    <li class="pilvilinkki"> @Html.ActionLink($"{post.Sportname}", "GetPostBySportId", "Search", new {id = post.Sportid })</li>
    }
</ul>
    }
        <p>
        </p>
</div>
