<!DOCTYPE html>
<html>
<head>
    <title>Add Map</title>

    <style type="text/css">
        /* Set the size of the div element that contains the map */
        #map {
            height: 400px;
            /* The height is 400 pixels */
            width: 100%;
            /* The width is the width of the web page */
        }
    </style>
    <script>
        var list = '@Html.Raw(ViewBag.Posts)'
        var list2 = JSON.parse(list);

        console.log(list2);
    </script>
    <script>
        // Initialize and add the map
        function initMap() {

           
            var paini = {
                url: "https://image.flaticon.com/icons/png/512/94/94107.png", // url
                scaledSize: new google.maps.Size(50, 50), // scaled size
                
            };


            // The location of Kamppi
            const kamppi = { lat: 60.167390, lng: 24.931080 };
            // The map, centered at kamppi
            const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 11.5,
                center: kamppi,
            });


            ///metodi ottaa aikaisemman listan ja luo markkerit+infoikkunan
            function populate() {


                for (var i = 0; i < list2.length; i++) {

                    var location = {
                        lat: list2[i].Latitude,
                        lng: list2[i].Longitude
                    }

                    console.log(location);
                    console.log(list2[i].Postname)
                    console.log(list2[i].Description)
                    console.log(list2[i].Address)
                    console.log(list2[i].Duration)
                    console.log(list2[i].Postname)
                    console.log(list2[i].ImgUrl)

                    if (location.lat == null || location.lng == null) {
                        location.lat = 0;
                        location.lng = 0;
                    }

                    
                    const content = '<div id="content">' +
                        '<div id="siteNotice">' +
                        "</div>" +

                        '<h1 id="firstHeading" class="firstHeading">' + list2[i].Postname + '</h1>' +
                        '<div id="bodyContent">' +
                        '<div width:20%;"><img src="' + list2[i].ImgUrl + '" width="80" height="auto"/></div>' +
                        "<p>" + list2[i].Description + "</p > " +
                        "<p> Osoite :" + list2[i].Address + "</p > " +
                        "<p> Kesto :" + list2[i].Duration.toString() + "</p > "
                         +
                        "</div>" +
                        "</div>";

                    const marker = new google.maps.Marker({
                        position: location,
                        map: map,
                        icon: paini
                    });

                    const infowindow = new google.maps.InfoWindow({
                        content: content,
                    });

                    marker.addListener("click", () => {
                     infowindow.open(marker.get("map"), marker);
                     });

                   
                }
                
            }

            
            //marker.addListener("click", () => {
            //    map.setZoom(15);
            //    map.setCenter(marker.getPosition());
            //});
            

            populate();
        }
    </script>
</head>
<body>
    <h3>ilmoitukset</h3>
    <!--The div element for the map -->
    <div id="map"></div>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB3QpAniVaOsNKERSCcBjkoon3Iojbbxhw&callback=initMap&libraries=&v=weekly"
            async></script>
</body>
</html>