<!DOCTYPE html>
<html>
<head>
    <title>Add Map</title>

    <style type="text/css">
        /* Set the size of the div element that contains the map */
        #map {
            height: 400px;
            /* The height is 400 pixels */
            width: 100%;
            /* The width is the width of the web page */
        }
    </style>
    <script>
        var list = '@Html.Raw(ViewBag.Posts)'
        var list2 = JSON.parse(list);

        console.log(list2);
    </script>
    <script>
        // Initialize and add the map
        function initMap() {
           
            var wrestling = {
                url: "https://image.flaticon.com/icons/png/512/94/94107.png", // url
                scaledSize: new google.maps.Size(50, 50), // scaled size

            };

            var Padel = {
                url: "https://upload.wikimedia.org/wikipedia/commons/f/fe/Emojione_BW_1F3BE.svg", // url
                scaledSize: new google.maps.Size(50, 50), // scaled size

            };

            var dance = {
                url: "https://cdn3.iconfinder.com/data/icons/dancing-dancer/214/dance-dancing-010-512.png", // url
                scaledSize: new google.maps.Size(50, 50), // scaled size

            };

            var ikonit = [dance, wrestling, Padel];

            // The location of Kamppi
            const kamppi = { lat: 60.167390, lng: 24.931080 };
            // The map, centered at kamppi
            const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 11.5,
                center: kamppi,
            });




            ///metodi ottaa aikaisemman listan ja luo markkerit+infoikkunan
            function populate() {


                for (var i = 0; i < list2.length; i++) {

                    var location = {
                        lat: list2[i].Latitude,
                        lng: list2[i].Longitude
                    }

                    var icon = i < 3 ? icon = ikonit[i] : icon = ikonit[1];

                    if (location.lat == null || location.lng == null) {
                        location.lat = 0;
                        location.lng = 0;
                    }


                    const content = '<div id="content">' +
                        '<div id="siteNotice">' +
                        "</div>" +
                        '<h4 id="firstHeading" class="firstHeading">' + list2[i].Postname + '</h4>' +
                        '<div id="bodyContent">' +

                        (list2[1].ImgUrl != null ? '<div width:20%;"><img class="mapkuva" src="' + list2[i].ImgUrl + '" width="80" height="auto"/></div>' : '') +

                        "<p>" + list2[i].Description + "</p > " +
                        '<p class="kartta">Osoite: ' + list2[i].Address + "<br> " +
                        'Kesto: ' + list2[i].Duration.toString() + " min<br> " +
                        'Järjestäjä: ' + list2[i].Organiser + "<br>"
                        'Päivämäärä: ' + list2[i].Date + "</p>" +
                        "</div>" +
                        "</div>";

                    const marker = new google.maps.Marker({
                        position: location,
                        map: map,
                        icon: icon
                    });

                    const infowindow = new google.maps.InfoWindow({
                        content: content,
                    });

                    marker.addListener("click", () => {
                     infowindow.open(marker.get("map"), marker);
                     });

                   
                }
                
            }

            
            //marker.addListener("click", () => {
            //    map.setZoom(15);
            //    map.setCenter(marker.getPosition());
            //});
            

            populate();
        }
    </script>
</head>
<body>
    <h3>ilmoitukset</h3>
    <!--The div element for the map -->
    <div id="map"></div>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB3QpAniVaOsNKERSCcBjkoon3Iojbbxhw&callback=initMap&libraries=&v=weekly"
            async></script>
</body>
</html>