
@{
    ViewData["Title"] = "Lähetä palautetta";
}

<div class="text-center">
    <h2 class="display-4">Lähetä palautetta</h2>
</div>
@using (Html.BeginForm("CreateMessage", "Messages", FormMethod.Post))
{ <label for="Feedback" class="control-label" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top">Palautteesi:</label><br />
    @Html.TextArea("Feedback")<br />
    <input type="submit" value="Lähetä" class="btn btn-outline-primary"/>
}
<br />
<p>
    <a asp-action="Index" class="btn btn-outline-primary">Takaisin</a>
</p>

