@model Loppuprojekti_AW.Models.UsersSport

@{
    ViewData["Title"] = "Lajin valinta";
}

<h3>Oman lajin valinta</h3>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddSportToFavourites">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Userid" value="@ViewBag.Userid" />
            <input type="hidden" asp-for="Sportid" value="@ViewBag.Sportid" />
            <div class="form-group">
                <label asp-for="Experience" class="control-label">Kokemus vuosina</label>
                <input asp-for="Experience" class="form-control" />
                <span asp-validation-for="Experience" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Level" class="control-label">Taitotaso</label>
                <input asp-for="Level" class="form-control" />
                <span asp-validation-for="Level" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Accredit" class="control-label">Akkreditaatio</label>
                <input asp-for="Accredit" class="form-control" />
                <span asp-validation-for="Accredit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Lisää" class="btn btn-outline-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

