@model Loppuprojekti_AW.Models.Sport

@{
    ViewData["Title"] = "Create";
}

<h3>Luo uusi laji</h3>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Sportname" class="control-label">Nimi</label>
                <input asp-for="Sportname" class="form-control" data-bs-toggle="tooltip" data-bs-placement="top" title="vapaa kuvaus" />
                <span asp-validation-for="Sportname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Kuvaus</label>
                <input asp-for="Description" class="form-control" data-bs-toggle="tooltip" data-bs-placement="top" title="vapaa kuvaus" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label">Kategoria</label>
                <input asp-for="Category" list="Categories" class="form-control" data-bs-toggle="tooltip" data-bs-placement="top" title="uusi kategoria tai valmis valikosta" />
                <datalist id="Categories">
                    @foreach (var item in ViewBag.Categories)
                    {
                        <option value="@item">@item</option>
                    }
                </datalist>
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Luo" class="btn btn-outline-primary" />
            </div>
        </form>
    </div>
</div>

    <div>
        <a asp-action="Index" asp-controller="Sport" class="btn btn-outline-primary">Takaisin</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
