@model Loppuprojekti_AW.Models.Enduser

@{
    ViewData["Title"] = "Edit";
}

<h1>Muokkaa tietojasi</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger" ></div>
            <input type="hidden" asp-for="Userid" />
            <div class="form-group">
                <label asp-for="Username" class="control-label">Käyttäjänimi</label>
                <input asp-for="Username" class="form-control" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top"/>
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">Salasana</label>
                <input asp-for="Password" type="password" class="form-control" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <!--- birthday pois muokkauksesta lopullisessa versiossa -->
            <div class="form-group">
                <label asp-for="Birthday" class="control-label">Syntymäpäivä</label>
                <input asp-for="Birthday" class="form-control" />
                <span asp-validation-for="Birthday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Kuvaus</label>
                <input asp-for="Description" class="form-control" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top"/>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photo" class="control-label">Kuva</label>
                <input asp-for="Photo" type="file" class="form-control" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top"/>
                <span asp-validation-for="Photo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Club" class="control-label">Seura</label>
                <input asp-for="Club" class="form-control" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top"/>
                <span asp-validation-for="Club" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-outline-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-outline-primary">Takaisin</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
