@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Uloskirjaus";
}
<div class="text-center">
    <h4 class="display-4">Uloskirjaus</h4>
    <div class="alert alert-primary d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill" /></svg>
        <div class="error">
            Sinut on nyt uloskirjattu palvelusta.
        </div>
    </div>
    <button class="btn btn-outline-primary"> @Html.ActionLink("Palaa etusivulle", "Index", "Home", new { @class = "btn btn-outline-primary" })</button>
</div>
